body {
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 70vh; 
}



 


 